.create_content {
    max-width: 1000px;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}

.question_data_type_content {
    margin: 20px 0;
}
.question_data {
    margin-bottom: 20px;
}

.editor-content {
    background-color: #011627;
    box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 75%);
    border-radius: 10px;
    color: #fff;
}
.editor-content textarea {
    outline: none;
}

.untitled_question_content h3 {
    margin: 40px 0 16px;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
